.nav {
  padding: 20px;
  font-family: "Playfair Display", serif;
}

.navlink {
  text-decoration: none;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  padding: 10px;
}
